code {
  display:inline-block;
  max-width: 100%;
  padding: 0 .4rem;

  @include overflow-wrap(break-word);
  @include line-break(anywhere);

  font-size: var(--code-font-size);
  font-family: var(--code-font-family);
  color: $code-color-dark;
  background-color: $code-color-background;
  border-radius: 0.2em;
}

pre code {
  color: $global-font-color-dark;
  background-color: $code-block-background-color-dark;
}

pre {
  margin: 0;
  padding: .25rem .5rem .25rem .5rem;

  @include tab-size(4);

  code {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

  img {
    min-height: 1em;
    max-height: 1.2em;
    vertical-align: text-bottom;
  }
}

.highlight table, .highlight tr, .highlight td {
  background: $code-block-background-color-dark !important;
}

.highlight {
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  line-height: 1.4em;
  margin: 1.5rem 0;

  .table-wrapper {
    > table,
    > table thead,
    > table tr,
    > table td {
      margin: 0;
      padding: 0;
      border: none !important;

      span.c {
        white-space: nowrap;
      }
    }
  }

  > .chroma {
    position: relative;

    .code-header {
      border-radius: 0.7em 0.7em 0.7em 0.7em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      font-family: var(--global-font-family);
      font-weight: bold;
      color: $code-info-color-dark;
      background: darken($code-block-background-color-dark, 6%);

      .code-title {
        width: 100%;
        padding: .4rem;
        color: $global-font-color-dark;
      }

      .code-title::after {
        padding-left: .2rem;
        content: "Code";
      }

      // this adds language via CSS. No JS used!
      @each $type, $text in $code-type-list {
        &.#{$type} .code-title::after {
          content: $text;
        }
      }
    }

    .lntd:first-child {
      min-width: 1.6rem;
      text-align: right;
    }

    .lntd:last-child {
      width: 100%;

      pre {
        @include max-content(min-width);
      }
    }

    .ln {
      padding-right: .75rem;
    }

    .hl {
      display: block;
      background-color: darken($code-background-color-dark, 5%);
    }

    .ln, .lnt {
      padding-right: 0.5rem;
      color: $global-font-secondary-color-dark;
    }

    .ellipses {
      padding: .4rem;
    }

    .table-wrapper {
      max-height: 0;
      overflow-y: hidden;

      @include details-transition-open;
    }

    &.open {
      .code-header {
        border-radius: 0.7em 0.7em 0 0;
        background: darken($code-block-background-color-dark, 3%);
      }

      .table-wrapper {
        border-radius: 0 0 0.7em 0.7em;
        max-height: 10000px;

        @include details-transition-close;
      }

      .ellipses {
        display: none;
      }
    }
  }

  /* Comment */  .c,
  /* CommentHashbang */  .ch,
  /* CommentMultiline */  .cm,
  /* CommentSingle */  .c1,
  /* CommentSpecial */  .cs,
  /* CommentPreproc */  .cp,
  /* CommentPreprocFile */  .cpf { font-style: italic }
  /* GenericUnderline */  .gl { text-decoration: underline }

  @each $class, $color in $code-highlight-color-map-dark {
    .#{$class} { color: $color; }
  }
}
