:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 720px;
    /* trying out ch for readability improvements */
    /* https://piccalil.li/blog/line-length/ */
    --main-width: 80ch;
    --header-height: 60px;
    --footer-height: 60px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(243, 243, 243);
    --primary: rgb(0, 0, 0);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(173, 173, 173);
    --content: rgb(0, 0, 0);
    --code-block-bg: rgb(0, 0, 0);
    --code-block-hover: rgb(33, 35, 36);
    --code-block-selection: rgb(90, 213, 131);
    --code-bg: rgb(230, 230, 230);
    --code-font-color: rgb(86, 54, 155);
    --border: rgb(220, 220, 220);

    --tint: rgb(22, 78, 199);
    --tint-2: #3F5CCD;


    --blockquote-border: rgb(22, 78, 199);
    --blockquote-background: rgba(22, 78, 199, 0.2);
}

.dark {
    --theme: rgb(0, 0, 0);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(218, 218, 219);
    --code-block-bg: rgb(12, 12, 12);
    --code-bg: rgb(40, 40, 40);
    --code-font-color: rgb(191, 169, 240);
    --border: rgb(51, 51, 51);

    --tint: rgb(96, 165, 250);
    --tint-2: #6860FA;

    --blockquote-border: rgb(96, 165, 250);
    --blockquote-background: rgba(96, 165, 250, 0.2);
}
