:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 720px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(243, 243, 243);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(0, 0, 0);
    --code-bg: rgb(235, 235, 235);
    --border: rgb(238, 238, 238);

    --tint: #0A4CD1;
    /* --tint-2: #328A5D; */
    /* --tint-3: #FA701D; */
    /* --tint-4: #F8282A; */
    /* --tint-5: #179299; */

    --blockquote-border: rgb(10 76 209);
    --blockquote-background: rgba(10, 76, 209, 0);
}

.dark {
    --theme: rgb(0, 0, 0);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(0, 0, 0);
    --code-bg: rgb(33, 35, 36);
    --border: rgb(51, 51, 51);

    --tint: #D20F39;
    /* --tint-2: #40A02B; */
    /* --tint-3: #DF8E1D; */
    /* --tint-4: #1E66F5; */
    /* --tint-5: #33C3C1; */

    --blockquote-border: rgb(210 15 57);
    --blockquote-background: rgba(210, 15, 57, 0);
}
