@mixin border-radius($value) {
  border-radius: $value;
}

@mixin box-shadow($values...) {
  box-shadow: $values;
}

@mixin transition($values...) {
  transition: $values;
}

@mixin transform($value) {
  transform: $value;
}

@mixin filter($value) {
  filter: $value;
  filter: $value;
}

@mixin flex($value) {
  flex: $value;
}

@mixin box($orient) {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: $orient;
  -moz-box-orient: $orient;

  // box-orient: $orient;
}

@mixin placeholder($color) {
  input::input-placeholder{
    color: $color;
  }

  input:placeholder{
    color: $color;
  }

  input::placeholder{
    color: $color;
  }

  input:input-placeholder{
    color: $color;
  }

  input::placeholder {
    color: $color;
  }
}

@mixin max-content($property) {
  #{$property}: -webkit-max-content;
  #{$property}: -moz-max-content;
  #{$property}: intrinsic;
  #{$property}: max-content;
}

@mixin tab-size($value) {
  tab-size: $value;
  tab-size: $value;
  tab-size: $value;
}

@mixin appearance($value) {
  appearance: $value;
  appearance: $value;
}

@mixin overflow-wrap($value) {
  word-wrap: $value;
  overflow-wrap: $value;
}

@mixin line-break($value) {
  -webkit-line-break: $value;
  -ms-line-break: $value;
  line-break: $value;
}

@mixin object-fit($value) {
  object-fit: $value;
  object-fit: $value;
  font-family: "object-fit: #{$value};";
}
