{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
<pre class="ascii-art">
███╗   ██╗███████╗██╗     ███████╗ ██████╗ ███╗   ██╗
████╗  ██║██╔════╝██║     ██╔════╝██╔═══██╗████╗  ██║
██╔██╗ ██║█████╗  ██║     ███████╗██║   ██║██╔██╗ ██║
██║╚██╗██║██╔══╝  ██║     ╚════██║██║   ██║██║╚██╗██║
██║ ╚████║███████╗███████╗███████║╚██████╔╝██║ ╚████║
╚═╝  ╚═══╝╚══════╝╚══════╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝

███████╗██╗ ██████╗ ██╗   ██╗███████╗██████╗  ██████╗  █████╗&nbsp
██╔════╝██║██╔════╝ ██║   ██║██╔════╝██╔══██╗██╔═══██╗██╔══██╗
█████╗  ██║██║  ███╗██║   ██║█████╗  ██████╔╝██║   ██║███████║
██╔══╝  ██║██║   ██║██║   ██║██╔══╝  ██╔══██╗██║   ██║██╔══██║
██║     ██║╚██████╔╝╚██████╔╝███████╗██║  ██║╚██████╔╝██║  ██║
╚═╝     ╚═╝ ╚═════╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝
</pre>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
<h2>Recent Posts</h2>
<hr>
