{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
<pre class="ascii-art">
╭─────────────────────────────────────╮
│                           <span class="shining-star-2"></span>         │
│    <span class="shining-star"></span>                                │
│                                     │
│                                 <span class="shining-star"></span>   │
│           Nelson Figueroa           │
│ <span class="shining-star-2"></span>                                   │
│                                     │
│               <span class="shining-star"></span>                     │
│                          <span class="shining-star-2"></span>          │
╰─────────────────────────────────────╯

</pre>
{{/*  this is homeInfoParams.Content from config.yml */}}
    {{/*
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    */}}

    {{/*  social icon SVGs  */}}
    {{/*
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
    */}}
</article>
{{- end -}}
<span class="page-header">
    <h2>Recent Posts</h2>
</span>
