/* CSS for admonitions */
.admonition {
    --adm: var(--border);
    --adm-gutter: 2.5ch;

    position: relative;
    margin: 1.5rem 0;
    border: 1px solid var(--adm);
    padding: 1.1em 1rem 0.75rem var(--adm-gutter);
}

.admonition-title {
    position: absolute;
    top: 0;
    left: calc(var(--adm-gutter) - 0.5ch);
    translate: 0 -50%;
    display: flex;
    align-items: center;
    gap: 1ch;
    padding: 0 0.5ch;
    font-weight: bold;
    line-height: 1;
    color: var(--adm);
    background: var(--theme);
}

.admonition-content p:first-child {
    margin-top: 0;
}

.admonition-content p:last-child {
    margin-bottom: 0;
}

/* Note */
.admonition-note { --adm: #0000aa; }
.admonition-note .admonition-icon::before { content: "[*]"; }

/* Info */
.admonition-info { --adm: #00496e; }
.admonition-info .admonition-icon::before { content: "[i]"; }

/* Tip */
.admonition-tip { --adm: #005400; }
.admonition-tip .admonition-icon::before { content: "[>]"; }

/* Warning */
.admonition-warning { --adm: #743a00; }
.admonition-warning .admonition-icon::before { content: "[!]"; }

/* Danger */
.admonition-danger { --adm: #990000; }
.admonition-danger .admonition-icon::before { content: "[!!]"; }

/* Success */
.admonition-success { --adm: #005400; }
.admonition-success .admonition-icon::before { content: "[+]"; }

/* Question */
.admonition-question { --adm: #7a007a; }
.admonition-question .admonition-icon::before { content: "[?]"; }

/* Example */
.admonition-example { --adm: #474747; }
.admonition-example .admonition-icon::before { content: "[#]"; }

/* Quote */
.admonition-quote { --adm: #474747; }
.admonition-quote .admonition-icon::before { content: "[\"]"; }

/* Dark mode */
.dark .admonition-note { --adm: #6c8cff; }
.dark .admonition-info { --adm: #55ccff; }
.dark .admonition-tip { --adm: #55ff55; }
.dark .admonition-warning { --adm: #ffff55; }
.dark .admonition-danger { --adm: #ff5555; }
.dark .admonition-success { --adm: #55ff55; }
.dark .admonition-question { --adm: #ff55ff; }
.dark .admonition-example { --adm: #aaaaaa; }
.dark .admonition-quote { --adm: #aaaaaa; }
