.categories-card {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  line-height: 1.6rem;

  .card-item {
    text-align: left;
    width: 45%;
    display: flex;
    align-items: flex-start;
    min-height: 10rem;
    position: relative;
    margin-bottom: 2rem;

    .card-item-wrapper {
      width: 100%;
      overflow: hidden;

      .card-title-wrapper {
        border: solid 1px $global-border-color-dark;
        border-radius: 0.5rem;
      }

      .card-item-title {
        font-weight: bold;
        text-align: center;
        margin: 0.4rem;
      }

      span {
        float: left;
        padding-left: 1rem;
      }
    }
  }
}

.archive-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: .25rem 0 .25rem 1rem;
}

.archive-item-link {
  min-width: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.5rem;
  font-size: 1.1rem;

  color: $global-link-color-dark;
}

.archive-item-date {
  font-size: 0.9em;
  width: 8em;
  text-align: right;
  color: $global-font-secondary-color-dark;
  font-family: $code-font-family;
}

.more-post {
  padding-top: 0.5rem;
  text-align: right;
}
