{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #6c6c6c #2e2e2e;
}

body {
    color: #cccccc;
    background: #000;
}

header#banner a {
    color: #DBDBDB;
    text-decoration: none;
}

header#banner nav ul li a {
    color: #cccccc;
}

main#content a {
    color: #0092e2;
}

main#content p {
    color: #cccccc;
}

main#content hr {
    background: #5c5c5c;
}

main#content #toc h4 {
    color: #d4d4d4;
}

main#content ul#posts small {
    color: #a7a7a7;
}

main#content header#post-header time {
    color: #a7a7a7;
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
