/* for ascii art on home page */
pre.ascii-art {
    font-size: 10px;
    line-height: 1;
    white-space: pre-wrap;
    max-width: 100%;
}

/* ascii art font size on smaller screens */
@media screen and (max-width: 768px) {
    pre.ascii-art {
        font-size: 10px;
    }
}

::selection {
  color: var(--theme);
  background-color: var(--primary);
}

/* styling for links throughout */
a {
    color: var(--tint);
}

a:hover {
    filter: brightness(75%);
}

/* Random post button */
.random-post-button {
    padding: 0.5rem;
    border: 1px solid var(--border);
    color: var(--tint);
    text-decoration: none;
    margin-bottom: 2rem;
    font-size: 14px;
}

.random-post-button:hover {
    filter: brightness(75%);
}

/* make regular text prettier? */
/* https://codersblock.com/blog/nicer-text-wrapping-with-css-text-wrap/ */
.post-content p {
    text-wrap: pretty; 
}

/* code blocks with syntax highlighting */
.highlight {
    border: 1px solid var(--border);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

/* to remove overlapping borders */
/* there should be a way to do this without additional css */
.chroma td pre code {
    border: 0;
}


button#theme-toggle {
    margin: 0;
}

/* post links */
.post-link {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.post-link:before {
    content: "[";
    color: var(--tertiary);
}

.post-link:after {
    content: "]";
    color: var(--tertiary);
}