/* override theme colors */
:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(243, 243, 243);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(22, 22, 22);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --tint: #1f9aff;

    body {
        background: var(--theme);
    }
}

.dark {
    --theme: #000;
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(25, 25, 25);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --tint: #ab1700;
}

/* for ascii art on home page */
pre.entry-header {
    font-size: 10px;
    line-height: 1.1;
    white-space: pre-wrap;
    max-width: 100%;
}

.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
    text-align: center;
}

.first-entry .entry-header {
    overflow: visible;
    display: unset;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

@media screen and (max-width: 768px) {
    pre.entry-header {
        font-size: 8px;
    }
}

/* for entire post link box itself */
.post-entry {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: none;
}

.post-entry:active {
    transform: none;
}

.post-entry:hover {
    filter: brightness(90%);
    border-color: var(--secondary);
}

/* for meta of post links */
.entry-footer {
    line-height: 1.6rem;
}

/* nav width */
.nav {
    max-width: calc(var(--nav-width) + var(--gap) * 35);
}

/* borders around post images */
.post-content img {
    border: 1px solid var(--border);
}

/* category badges */
.post-tags a {
    display: inline-block;
    flex-wrap: wrap;
    padding: 0 5px;
    color: var(--secondary);
    background: var(--tertiary);
    font-size: 12px;
    line-height: 24px;
}

.post-tags {
    display: inline-block;
    flex-wrap: wrap;
    gap: 10px;
}

.post-tags a:hover {
    filter: brightness(70%);
    background: var(--entry);
}

.post-meta {
    color: var(--secondary);
    font-size: 14px;
    display: inline-block;
    flex-wrap: wrap;
}

/* code copy button */
.copy-code {
    padding: 5px 10px;
}

::selection {
  color: var(--primary);
  background-color: var(--tint);
}

a:hover {
    color: var(--tint);
}

#moon:hover {
    color: var(--tint);
}

#sun:hover {
    color: var(--tint);
}

/* Random post button */

.random-post-button {
    background: var(--entry);
    border-radius: var(--radius);
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    border: 1px solid var(--border);
}

.random-post-button:hover {
    filter: brightness(90%);
    border: 1px solid var(--secondary);
}

/* remove box shadow from links and use decoration instead */
.post-content a {
    box-shadow: none;
    text-decoration: underline;
}

/* remove margin from inline <code> */
.post-content code {
    margin: 0;
}