{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "content" }}
    <div class="post-warp single">
        <h1 class="post-title animated pulse faster">{{ .Title }}</h1>
        {{ if ne .Title "About Me"}}
        <div class="post-meta">
            <div class="post-meta-main">
                {{ with .Params.categories -}}
                <span class="post-category">
                    {{ T "included" }}
                    {{ range . }}
                        {{- $name := . -}}
                        {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                            <i class="far fa-folder fa-fw"></i><a href="{{ .Permalink }}">{{ $name }}</a>
                        {{ end -}}
                    {{ end }}
                </span>
                {{- end }}
            </div>
            <div class="post-meta-other">
                {{ $publish_date := .PublishDate.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
                <i class="far fa-calendar-alt fa-fw"></i><time datetime={{ $publish_date }}>{{ $publish_date }}</time>&nbsp;
                <i class="fas fa-pencil-alt fa-fw"></i>{{ T "wordCount" .WordCount }}&nbsp;
                <i class="far fa-clock fa-fw"></i>{{ T "readingTime" .ReadingTime }}&nbsp;
            </div>
        </div>
        {{ end }}
        <div class="post-content">
            {{ if and (gt .WordCount 400 ) }}
            <aside>
                {{ .TableOfContents }}
            </aside>
            {{ end }}
            {{ $content := .Content }}
            {{ $REin := `<img src="([^"]+)" alt="([^"]+)?" />` }}
            {{ $REout := "<figure><img src=/images/loading.svg data-sizes=auto data-src=$1 alt=$2 class=lazyload><figcaption class=image-caption>$2</figcaption></figure>" }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<img src="([^"]+)" alt="([^"]+)?" title="([^"]+)?" />` }}
            {{ $REout = "<figure><img src=/images/loading.svg data-src=$1 data-sizes=auto alt=$2 title=$3 class=lazyload><figcaption class=image-caption>$2</figcaption></figure>" }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `:\(([\w- ]+?)\):` }}
            {{ $REout = `<i class="$1 fa-fw"></i>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `\[(.+?)\]\^\((.+?)\)` }}
            {{ $REout = `<strong><ruby>$1<rt>$2</rt></ruby></strong>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<sup>\[return\]</sup>` }}
            {{ $REout = printf "<sup>[%s]</sup>" (T "return") }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(h[123456]) (id=".+?")>` }}
            {{ $REout = `<a class="post-dummy-target" $2></a><$1>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(sup class="footnote-ref") (id="fnref:.+?")>` }}
            {{ $REout = `<a class="post-dummy-target" $2></a><$1>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(li) (id="fn:.+?")>` }}
            {{ $REout = `<$1><a class="post-dummy-target" $2></a>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $content | safeHTML }}
        </div>
    </div>
{{end }}