html {
    scrollbar-color: #6c6c6c #2e2e2e;
}

/* Webkit/Blink Browsers */
::selection {
    color: var(--bg-color);
    background-color: var(--text-color);
}

/* Gecko Browsers */
::-moz-selection {
    color: var(--bg-color);
    background-color: var(--text-color);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

header#banner a {
    text-decoration: none;
}

header#banner a:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

header#banner nav ul li a {
    color: var(--text-color);
}

main#content a {
    color: var(--link-color);
}

main#content a:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

main#content ul#posts li a:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

main#content p {
    color: var(--text-color);
}

main#content p code {
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 5px
}

main#content hr {
    background: var(--hr-color);
}

main#content ul#posts small {
    color: var(--secondary-color);
}

main#content header#post-header time {
    color: var(--secondary-color);
}

