/* Webkit/Blink Browsers */
::selection {
    color: var(--bg-color);
    background-color: var(--text-color);
}

/* Gecko Browsers */
::-moz-selection {
    color: var(--bg-color);
    background-color: var(--text-color);
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Menlo", "Consolas", monospace;
    font-size: 16px;
    font-style: normal;
    text-rendering: geometricPrecision;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    line-height: 1.3;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* ASCII art styles */

#pre-container {
    text-align: center;
}

#pre-container #ascii-art {
    padding: 0;
    margin: 0;
    font-size: 1.2vmin;
    line-height: 1.25em;
    font-family: 'Menlo', monospace;
    border: none;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow: unset;
    white-space: pre-wrap;
    word-wrap: break-word;

    display: inline-block;
    text-align: left;
}

@media (min-width: 48.125em) {
    #pre-container #ascii-art {
        font-size: 1vmin;
    }
}

/* End ASCII art styles */

#landing-page-caption {
    text-align: center;
}

header#banner {
    margin: 2em 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 3.125em;
    border-top: dashed 0.0625em;
    border-bottom: dashed 0.0625em;
}

header#banner a {
    text-decoration: none;
    color: var(--link-color);
}

header#banner a:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

button.theme-toggle {
    border: none;
    font-family: "Menlo", "Consolas", monospace;
    font-size: 1em;
    font-style: normal;
    text-rendering: geometricPrecision;
    padding: 0;
    margin: 0;
    color: var(--link-color);
    background-color: var(--bg-color);
    cursor: pointer;
}

button.theme-toggle:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
}

main#content a {
    text-decoration: none;
    color: var(--link-color);
}

main#content a:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

main#content h1 {
    margin-top: 1em;
    font-size: 2em;
}

main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    line-height: 1.15;
    margin-top: 2em;
}

main#content h1::before {
    content: "# ";
}

main#content h2::before {
    content: "## ";
}

main#content h3::before {
    content: "### ";
}

main#content h4::before {
    content: "#### ";
}

main#content h5::before {
    content: "##### ";
}

main#content p {
    margin: 1em 0;
    color: var(--text-color);
}

main#content p code {
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 0.3125em
}

main#content hr {
    height: 0.0625em;
    border: 0;
    background: var(--hr-color);
}

/* index.html styles */

/* posts list */
main#content ul#posts {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

main#content ul#posts small {
    color: var(--secondary-color);
}

main#content ul#posts li {
    margin: 0.3125em ;
    padding: 0;
    display: block;
    line-height: 1.15em;
}

main#content ul#posts li time {
    text-decoration: none;
    display: block;
    font-size: 1em;
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

/* Styles for posts list for smaller screens */
@media (max-width: 48.125em) {
    main#content ul#posts li {
        margin-bottom: 1.2em ;
    }

    main#content ul#posts li time:before {  
        content: "┌──";
        /*margin-right: 9px;*/
    } 

    main#content ul#posts li a:before {  
        content: "└─";
        color: var(--text-color);
        /*margin-right: 9px; */
    }

    main#content ul#posts li a:hover:before {  
        /* Setting colors so :before element does not get highlighted */
        color: var(--text-color);
        background-color: var(--bg-color);
        /*margin-right: 9px; */
    }
}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    line-height: 1.3em;
}

main#content header#post-header time {
    display: block;
    color: var(--secondary-color);
}

main#content #toc {
    border: 0.0625em solid var(--secondary-color);
    border-radius: 0.3125em;
    line-height: 2em;
    margin: 3em 0;
    padding: 0.5625em 0.875em;
}

main#content #toc li::before {
    content: "# ";
}

main#content #toc nav#TableOfContents {
    margin-top: 0.25em;
}

main#content #toc nav#TableOfContents > ul, main#content #toc nav#TableOfContents > ol {
    margin-left: -2.5em;
}

main#content #toc ul, main#content #toc ol {
    margin: 0;
    padding: 0 0 0 2.5em;
}

/* ordered/unordered list can be specified in config.toml */

main#content #toc ul {
    list-style-type: none;
}

main#content #toc ol {
    counter-reset: item;
}

main#content #toc ol li {
    display: block;
}

main#content #toc ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main#content img {
    max-width: 100%;
    margin: 0 auto;
}

main#content figure {
    margin: 1em 0;
}

main#content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-size: 0.92em;
    font-style: italic;
    line-height: 1.375em;
    text-align: center;
    margin-top: 0.375em;
    padding: 0 0.625em;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 0.5em;
}

/* for inline code `example` */
main#content p code {
    color: var(--bg-color);
    background-color: var(--text-color);
}

main#content figure ::selection {
    background-color: var(--text-color);
}

main#content code,
main#content pre {
    font-family: 'Menlo', monospace;
}

main#content code {
    padding: 0 0.3125em;
}

main#content pre {
    display: block;
    overflow-x: auto;
    white-space: pre;
    padding: 1.5rem 1.5rem;
    line-height: 1.5;
    background-color: black;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

main#content pre ::selection {
    color: #000;
    background-color: #cccccc;
}

main#content pre code {
    padding-left: 0;
    margin-right: 1.25em;
    color: var(--pre-color);
}

main#content pre {
    border: solid 0.0625em;
    border-radius: 0.3125em;
    border-style: solid;
    border-color: var(--pre-color);
}

main#content section.footnotes {
    font-size: 0.9em;
}

/* prevent links in articles from extending beyond boundaries */
main#content article ul li a {
    word-wrap: break-word;
}

/* for /about resume details */
.resume-details {
    color: var(--link-color)
}

footer#footer {
    margin: 2em 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: dashed 0.0625em;
    border-bottom: dashed 0.0625em;
}

footer#footer a {
    text-decoration: none;
    color: var(--link-color);
}

footer#footer a:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}