/*These styles apply to bigger screens (laptops, etc) */

@media (min-width: 48.125em) {
    body {
        width: 50em;
        line-height: 1.3em;
    }

    /* single.html styles */
    main#content img {
        max-width: 100%;
    }

    main#content figure img {
        max-width: 100%;
    }

    main#content pre {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        padding: 1.5rem 2.2rem;
    }

    /*
    main#content ul#posts li:before {  
        content: "-";
    }
    */

    main#content ul#posts li {
        line-height: 1.5em;
    }

    main#content ul#posts li span {
        display: inline-block;
    }
}
