body {
  --bg-color: white;
  --text-color: black;
  --secondary-color: #767676;
  --link-color: #034cd3;
  --hr-color: #d8d8d8;
  --pre-color: white;
  --code-color: #0f4124;
  --code-bg-color: #55d88c;
}

body.dark {
  --bg-color: #0e0e0e;
  --text-color: #ccc;
  --secondary-color: #a7a7a7;
  --link-color: #02a7ff;
  --hr-color: #5c5c5c;
  --pre-color: #ccc;
  --code-color: #2fcb70;
  --code-bg-color: #0f4124;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #0e0e0e;
    --text-color: #ccc;
    --secondary-color: #a7a7a7;
    --link-color: #02a7ff;
    --hr-color: #5c5c5c;
    --pre-color: #ccc;
    --code-color: #2fcb70;
    --code-bg-color: #0f4124;
  }

  body.light {
    --bg-color: white;
    --text-color: black;
    --secondary-color: #767676;
    --link-color: #034cd3;
    --hr-color: #d8d8d8;
    --pre-color: white;
    --code-color: #0f4124;
    --code-bg-color: #55d88c;
  }
}
