<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main id="content">
            <div class="container">
                <div class="section">
                    <div class="content">
                        <h1>{{ .Title }}</h1>
                        <ul>
                            {{ range .Site.Taxonomies.categories.Alphabetical }}
                                <li>
                                    <a class="" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                                    <span class="">({{ .Count }})</span>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
