/** Home **/
.home-intro {
  transform: translateY(25vh);
  text-align: center;

  .home-description {
    font-size: 1rem;
    font-weight: normal;
    padding: .4rem;
  }

  .home-title {
    font-size: 2rem;
  }

  .home-subtitle {
    font-size: 1.25rem;
  }

  .home-social-links {
    padding-top: .6rem;

    i {
      font-size: 1.8rem;
      padding-right: 0.5rem;
    }
  }
}