{{ with .Site.Params.Social.Github }}
    <a href="https://github.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-github fa-fw"></i></a>
{{ end }}
{{ with .Site.Params.Social.Docker}}
    <a href="https://hub.docker.com/u/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-docker fa-fw"></i></a>
{{ end }}
{{ with .Site.Params.Social.LinkedIn }}
    <a href="https://linkedin.com/in/{{.}}" rel="me noopener noreffer" target="_blank"><i class="fab fa-linkedin fa-fw"></i></a>
{{ end }}
{{ with .Site.Params.Social.Email}}
    <a href="mailto:{{.}}" rel="me noopener noreffer"><i class="far fa-envelope" target="_blank fa-fw"></i></a>
{{ end }}