.posts {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  @media #{$media-size-phone} {
    font-size: 0.8rem;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $light-border-color;

    .dark-theme & {
      border-color: $dark-border-color;
    }
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1rem;
      margin: 5px 0 5px 0;

      @media #{$media-size-phone} {
        font-size: 0.8rem;
      }
    }

    &-year {
      // padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;

      @media #{$media-size-tablet} {
        margin: -6px 0 4px;
      }
    }

    &-item {
      // border-bottom: 1px grey dashed;
      padding-bottom: 10px;

      a {
        // display: flex;
        // justify-content: space-between;
        align-items: baseline;
        // padding: 12px 0;
        text-decoration: underline;
      }

      a:hover {
        color: $dark-color;
        background-color: $dark-background;

        .dark-theme & {
          color: $light-color;
          background-color: $light-background
        }
      }
    }

    &-day {
      flex-shrink: 0;
      margin-right: 0.5em;
      @include dimmed;
    }
  }
}
