<footer id="footer">
    {{ .Site.Params.copyright }} | <a href="https://512kb.club">512kb.club</a>
</footer>

<script>
    const btn = document.querySelector(".theme-toggle");
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

    // get user's theme preference from local storage, if it's available, and set theme based on that
    const currentTheme = localStorage.getItem("theme");
    if (currentTheme == "dark") {
        btn.innerHTML = "./light-mode";

        // add dark class to <body>
        document.body.classList.toggle("dark");
    } else if (currentTheme == "light") {
        btn.innerHTML = "./dark-mode";

        // add light class to <body>
        document.body.classList.toggle("light");
    }

    // event listener for theme button
    btn.addEventListener("click", function() {
        // check if light or dark mode has been set
        var theme = document.body.classList.contains("light") ? "light" : "dark";

        if (theme == "light") {
            document.body.classList.toggle("light"); // remove light mode class
            document.body.classList.toggle("dark"); // add dark mode class
            btn.innerHTML = "./light-mode"

            // update theme variable to store
            theme = "dark";
        } else {
            document.body.classList.toggle("dark"); // remove dark mode class
            document.body.classList.toggle("light"); // add light mode class
            btn.innerHTML = "./dark-mode"

            // update theme variable to store
            theme = "light";
        }
        // save preference to localstorage for future page loads by user
        localStorage.setItem("theme", theme);
    });
</script>