<header id="banner">
    <nav>
        <ul>
            <li>
                <!-- <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> -->
                <a href="{{ .Site.BaseURL }}">/home</a>
            </li>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">/{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
            <li>
                <a href="" class="theme-toggle">./change-theme</a>
            </li>
        </ul>
    </nav>
</header>

<script>
    const btn = document.querySelector(".theme-toggle");
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

    // get user's theme preference from local storage, if it's available
    const currentTheme = localStorage.getItem("theme");
    if (currentTheme == "dark") {
        document.body.classList.toggle("dark");
    } else if (currentTheme == "light") {
        document.body.classList.toggle("light");
    }

    // event listener for theme button
    btn.addEventListener("click", function() {
        // check user's OS setting
        if (prefersDarkScheme.matches) {
            document.body.classList.toggle("light");
            // store preference
            var theme = document.body.classList.contains("light") ? "light" : "dark";
        } else {
            document.body.classList.toggle("dark");
            // store preference
            var theme = document.body.classList.contains("dark") ? "dark" : "light";
        }
        // save preference to localstorage
        localStorage.setItem("theme", theme);
    });
</script>
