<img width="90%" height="auto" alt="" id="name-banner" src="">

<p>
    I'm Nelson. 
    I'm a Software Engineer with broad experience working with technologies like 
    Ruby on Rails, Docker, Kubernetes, and Amazon Web Services. 
    I write occassionally about things I learn in my career and technology in general.
</p>

<h3>Blog Posts (<a href="/index.xml">RSS</a>)</h3>
<ul id="posts">
{{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
    <li>
        <time>[ {{ .Date.Format "2006-01-02" }} ]</time>
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </li>
{{- end }}
</ul>
