<div id="pre-container">
<pre class="ascii-art">
███╗   ██╗███████╗██╗     ███████╗ ██████╗ ███╗   ██╗  
████╗  ██║██╔════╝██║     ██╔════╝██╔═══██╗████╗  ██║  
██╔██╗ ██║█████╗  ██║     ███████╗██║   ██║██╔██╗ ██║  
██║╚██╗██║██╔══╝  ██║     ╚════██║██║   ██║██║╚██╗██║  
██║ ╚████║███████╗███████╗███████║╚██████╔╝██║ ╚████║  
╚═╝  ╚═══╝╚══════╝╚══════╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝  
</pre>
<pre class="ascii-art">
███████╗██╗ ██████╗ ██╗   ██╗███████╗██████╗  ██████╗  █████╗ 
██╔════╝██║██╔════╝ ██║   ██║██╔════╝██╔══██╗██╔═══██╗██╔══██╗
█████╗  ██║██║  ███╗██║   ██║█████╗  ██████╔╝██║   ██║███████║
██╔══╝  ██║██║   ██║██║   ██║██╔══╝  ██╔══██╗██║   ██║██╔══██║
██║     ██║╚██████╔╝╚██████╔╝███████╗██║  ██║╚██████╔╝██║  ██║
╚═╝     ╚═╝ ╚═════╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝
</pre>
</div>

<p id="landing-page-caption">Software Engineer</p>

<h3>Blog Posts</h3>
<p><a href="/index.xml">RSS Feed</a> | <a href="/categories">Post Categories</a></p>
<ul id="posts">
{{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
    <li>
        <span>[ {{ .Date.Format "2006-01-02" }} ]</span>
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </li>
{{- end }}
</ul>
