.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--primary);
    font-size: 13px;
    line-height: 36px;
    background: var(--theme);
    border: 1px solid var(--border);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.pagination .next,
.pagination .prev {
    color: var(--tint);
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    padding: 5px 10px;
    font-size: 14px;
    user-select: none;
    box-shadow: 2px 2px var(--secondary);
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

hr {
    margin: 0 0 1rem 0;
    height: 2px;
    background: var(--tertiary);
    border: 0;
}