.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--theme);
    border: 1px solid var(--border);
    transition: transform 0.1s;
}
