{{- /* Desktop header */ -}}
<header class="desktop" id="header-desktop">
    <div class="header-wrapper">
        <div class="header-title">
            <a href="{{ .Site.Home.RelPermalink }}" title="{{ .Site.Title }}">
                {{- with .Site.Params.header.title -}}
                    {{- with .logo -}}
                        {{- dict "Src" . "Class" "logo" | partial "plugin/img.html" -}}
                    {{- end -}}
                    {{- with .pre -}}
                        <span class="header-title-pre">{{ . | safeHTML }}</span>
                    {{- end -}}
                    {{- .name -}}
                    {{- with .post -}}
                        <span class="header-title-post">{{ . | safeHTML }}</span>
                    {{- end -}}
                {{- else -}}
                    {{- .Site.Title -}}
                {{- end -}}
            </a>
        </div>
        <div class="menu">
            <div class="menu-inner">
                {{- range .Site.Menus.main -}}
                    {{- $url := .URL | relLangURL -}}
                    {{- with .Page -}}
                        {{- $url = .RelPermalink -}}
                    {{- end -}}
                    <a class="menu-item{{ if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }} active{{ end }}" href="{{ $url }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if (urls.Parse $url).Host }} rel="noopener noreffer" target="_blank"{{ end }}>
                        {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
                    </a>
                {{- end -}}
                {{- if .Site.Menus.main -}}
                    <span class="menu-item delimiter"></span>
                {{- end -}}
                <a href="javascript:void(0);" class="menu-item theme-switch" title="{{ T "switchTheme" }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zm64 0c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256z"/></svg>
                </a>
                <a class="menu-item rss-svg" href="/index.xml" title="RSS" target="_blank" rel="noopener noreffer me">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
                </a>
                {{- if .Site.IsMultiLingual -}}
                <a href="javascript:void(0);" class="menu-item language" title="{{ T "selectLanguage" }}">
                    <i class="fa fa-globe" aria-hidden="true"></i>                      
                    <select class="language-select" id="language-select-desktop" onchange="location = this.value;">
                        {{- if eq .Kind "404" -}}
                            {{- /* https://github.com/dillonzq/LoveIt/issues/378 */ -}}
                            {{- range .Sites -}}
                                {{- $link := printf "%v/404.html" .LanguagePrefix -}}
                                <option value="{{ $link }}"{{ if eq . $.Site }} selected{{ end }}>
                                    {{- .Language.LanguageName -}}
                                </option>
                            {{- end -}}
                        {{- else -}}
                            {{- range .AllTranslations -}}
                                <option value="{{ .RelPermalink }}"{{ if eq .Lang $.Lang }} selected{{ end }}>
                                    {{- .Language.LanguageName -}}
                                </option>
                            {{- end -}}
                        {{- end -}}
                    </select>
                </a>
            {{- end -}}
            </div>
        </div>
    </div>
</header>

{{- /* Mobile header */ -}}
<header class="mobile" id="header-mobile">
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-title">
                <a href="{{ .Site.Home.RelPermalink }}" title="{{ .Site.Title }}">
                    {{- with .Site.Params.header.title -}}
                        {{- with .logo -}}
                            {{- dict "Src" . "Class" "logo" | partial "plugin/img.html" -}}
                        {{- end -}}
                        {{- with .pre -}}
                            <span class="header-title-pre">{{ . | safeHTML }}</span>
                        {{- end -}}
                        {{- .name -}}
                        {{- with .post -}}
                            <span class="header-title-post">{{ . | safeHTML }}</span>
                        {{- end -}}
                    {{- else -}}
                        {{- .Site.Title -}}
                    {{- end -}}
                </a>
            </div>
            <div class="menu-toggle" id="menu-toggle-mobile">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div class="menu" id="menu-mobile">
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main -}}
                {{- $url := .URL | relLangURL -}}
                {{- with .Page -}}
                    {{- $url = .RelPermalink -}}
                {{- end -}}
                <a class="menu-item" href="{{ $url }}" title="{{ .Title }}"{{ if (urls.Parse $url).Host }} rel="noopener noreffer" target="_blank"{{ end }}>
                    {{- .Pre | safeHTML }}{{ .Name }}{{ .Post | safeHTML -}}
                </a>
            {{- end -}}
            <a href="javascript:void(0);" class="menu-item theme-switch" title="{{ T "switchTheme" }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zm64 0c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256z"/></svg>
            </a>
            <a class="menu-item" href="/index.xml" title="RSS" target="_blank" rel="noopener noreffer me">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
            </a>
            {{- if .Site.IsMultiLingual -}}
            
                <a href="javascript:void(0);" class="menu-item" title="{{ T "selectLanguage" }}">
                    <i class="fa fa-globe fa-fw" aria-hidden="true"></i>
                    <select class="language-select" onchange="location = this.value;">
                        {{- if eq .Kind "404" -}}
                            {{- /* https://github.com/dillonzq/LoveIt/issues/378 */ -}}
                            {{- range .Sites -}}
                                {{- $link := printf "%v/404.html" .LanguagePrefix -}}
                                <option value="{{ $link }}"{{ if eq . $.Site }} selected{{ end }}>
                                    {{- .Language.LanguageName -}}
                                </option>
                            {{- end -}}
                        {{- else -}}
                            {{- range .AllTranslations -}}
                                <option value="{{ .RelPermalink }}"{{ if eq .Lang $.Lang }} selected{{ end }}>
                                    {{- .Language.LanguageName -}}
                                </option>
                            {{- end -}}
                        {{- end -}}
                    </select>
                </a>
            {{- end -}}
        </div>
    </div>
</header>
