header {
  width: 100%;
  z-index: 150;

  @include transition(box-shadow 0.3s ease);

  .logo {
    min-height: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
  }

  .logo, .header-title-pre {
    padding-right: .25rem;
  }

  .header-title-post {
    padding-left: .25rem;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.header-title {
  font-family: var(--header-title-font-family);
  font-weight: bold;
  margin-right: .5rem;
  min-width: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include flex(10);
}

.menu .menu-item {
  position: relative;
}

#header-desktop {
  display: block;
  position: fixed;
  height: var(--header-height);
  line-height: var(--header-height);
  padding-bottom: 2em;

  [data-header-desktop="normal"] & {
    position: static;
  }

  .header-wrapper {
    padding: 0 4rem;

    .header-title {
      font-size: var(--header-title-font-size);
    }

    .menu {
      overflow: hidden;
      white-space: nowrap;

      .menu-inner {
        float: right;
      }

      .menu-item {
        margin: 0 .4rem;
        font-family: var(--header-title-font-family);
      }

      a.active {
        font-weight: 900;
        border-bottom: 0.1em solid;
        color: $global-font-color-dark;
      }
    }
  }
}

#header-mobile {
  display: none;
  position: fixed;
  height: var(--header-height);
  line-height: var(--header-height);

  [data-header-mobile="normal"] & {
    position: static;
  }

  .header-container {
    padding: 0;
    margin: 0;

    .header-wrapper {
      padding: 0 1rem;
      font-size: 1.125rem;

      @include transition(margin-top 0.3s ease);

      .header-title {
        font-size: var(--mobile-header-title-font-size);
        max-width: 80%;
      }

      .menu-toggle {
        line-height: 4rem;
        cursor: pointer;

        @include transition(width 0.3s ease);

        span {
          display: block;
          background: $global-font-color-dark;
          width: 1.5rem;
          height: 2px;

          @include border-radius(3px);
          @include transition(all 0.3s ease-in-out);
        }

        span:nth-child(1) {
          margin-bottom: .5rem;
        }

        span:nth-child(3) {
          margin-top: .5rem;
        }

        &.active {
          span:nth-child(1) {
            @include transform(rotate(45deg) translate(.4rem, .5rem));
          }

          span:nth-child(2) {
            opacity: 0
          }

          span:nth-child(3) {
            @include transform(rotate(-45deg) translate(.4rem, -.5rem));
          }
        }
      }
    }

    .menu {
      text-align: center;
      background: $header-background-color-dark;
      border-top-color: $global-border-color-dark;
      display: none;
      padding-top: .5rem;

      @include box-shadow(0 .125rem .25rem rgba(0, 0, 0, .1));

      .menu-item {
        display: block;
        line-height: 2.5rem;
        font-family: var(--header-title-font-family);
      }

      &.active {
        display: block;
      }
    }
  }

  &.open {
    .header-wrapper {
      margin-top: -var(--header-height);
    }

    .menu {
      padding-top: 0;
      border-top: none;

      .menu-item {
        display: none;
      }
    }
  }
}
