header {
  width: 100%;
  z-index: 150;
  background-color: $header-background-color;
  @include transition(box-shadow 0.3s ease);

  [theme=dark] & {
    background-color: $header-background-color-dark;
  }

  .logo {
    min-height: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
  }

  .logo, .header-title-pre {
    padding-right: .25rem;
  }

  .header-title-post {
    padding-left: .25rem;
  }

  &:hover {
    @include box-shadow(0 0 1.5rem 0 rgba(0, 0, 0, .1));

    [theme=dark] & {
      @include box-shadow(0 0 1.5rem 0 rgbA(2, 167, 255, .2));
    }
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 0.08em solid $global-border-color;

  [theme=dark] & {
    border-bottom: 0.08em solid $global-border-color-dark;
  }
}

.header-title {
  font-family: var(--header-title-font-family);
  font-weight: bold;
  margin-right: .5rem;
  min-width: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include flex(10);
}

.menu .menu-item {
  position: relative;
}

#header-desktop {
  display: block;
  position: fixed;
  height: var(--header-height);
  line-height: var(--header-height);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  [data-header-desktop=normal] & {
    position: static;
  }

  .header-wrapper {
    padding: 0 2rem 0 10vh;

    .header-title {
      font-size: var(--header-title-font-size);
    }

    .menu {
      overflow: hidden;
      white-space: nowrap;

      .menu-inner {
        float: right;
      }

      .menu-item {
        margin: 0 .5rem;
        font-family: var(--header-title-font-family);

        &.delimiter {
          border-left: 1.5px solid $global-font-color;

          [theme=dark] & {
            border-left-color: $global-border-color-dark;
          }
        }

        &.language {
          margin-right: 0;
        }
      }

      a.active {
        font-weight: 900;
        border-bottom: 0.1em solid;
        color: $header-hover-color;

        [theme=dark] & {
          color: $header-hover-color-dark;
        }
      }
    }
  }
}

#header-mobile {
  display: none;
  position: fixed;
  height: var(--header-height);
  line-height: var(--header-height);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  [data-header-mobile=normal] & {
    position: static;
  }

  .header-container {
    padding: 0;
    margin: 0;

    .header-wrapper {
      padding: 0 1rem;
      font-size: 1.125rem;
      @include transition(margin-top 0.3s ease);

      .header-title {
        font-size: var(--mobile-header-title-font-size);
        max-width: 80%;
      }

      .menu-toggle {
        line-height: 4rem;
        cursor: pointer;
        @include transition(width 0.3s ease);

        span {
          display: block;
          background: $global-font-color;
          width: 1.5rem;
          height: 2px;
          @include border-radius(3px);
          @include transition(all 0.3s ease-in-out);

          [theme=dark] & {
            background: $global-font-color-dark;
          }
        }

        span:nth-child(1) {
          margin-bottom: .5rem;
        }

        span:nth-child(3) {
          margin-top: .5rem;
        }

        &.active {
          span:nth-child(1) {
            @include transform(rotate(45deg) translate(.4rem, .5rem));
          }

          span:nth-child(2) {
            opacity: 0
          }

          span:nth-child(3) {
            @include transform(rotate(-45deg) translate(.4rem, -.5rem));
          }
        }
      }
    }

    .menu {
      text-align: center;
      background: $header-background-color;
      border-top: 2px solid $global-border-color;
      display: none;
      padding-top: .5rem;
      @include box-shadow(0 .125rem .25rem rgba(0, 0, 0, .1));

      .menu-item {
        display: block;
        line-height: 2.5rem;
        font-family: var(--header-title-font-family);
      }

      &.active {
        display: block;
      }

      [theme=dark] & {
        background: $header-background-color-dark;
        border-top-color: $global-border-color-dark;
      }
    }
  }

  &.open {
    .header-wrapper {
      margin-top: -var(--header-height);
    }

    .menu {
      padding-top: 0;
      border-top: none;

      .menu-item {
        display: none;
      }
    }
  }
}
