{{- $posts := slice }}
{{- range where site.RegularPages "Section" "posts" }}
{{- $posts = $posts | append .RelPermalink }}
{{- end }}
{{- $goatcounter := resources.Get "js/goatcounter.js" | resources.Minify }}
{{- $random_post := resources.Get "js/random-post.js" | js.Build (dict "minify" true "params" (dict "posts" $posts)) }}
{{- $console_cat := resources.Get "js/console-cat.js" | resources.Minify }}
{{- $site_js := slice $goatcounter $random_post $console_cat | resources.Concat "assets/js/site.js" }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $site_js = $site_js | fingerprint }}
<script defer crossorigin="anonymous" data-goatcounter="https://nelson.cloud/gc/count" src="{{ $site_js.RelPermalink }}" integrity="{{ $site_js.Data.Integrity }}"></script>
{{- else }}
<script defer crossorigin="anonymous" data-goatcounter="https://nelson.cloud/gc/count" src="{{ $site_js.RelPermalink }}"></script>
{{- end }}

<!-- mastodon attribution -->
<meta name="fediverse:creator" content="@nelson@infosec.exchange">
