{{- $featured := where .Site.RegularPages "Params.featured" true -}}
{{- if gt (len $featured) 0 -}}
<h2 class="page-header">Featured Posts</h2>
{{- range $featured }}
<article class="post-entry">
  <h3><a class="post-link" href="{{ .Permalink }}"><span>{{- .Title }}</span></a></h3>
  {{- if (ne (.Param "hideSummary") true) }}
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  {{- end }}
</article>
{{- end }}
{{- end -}}
