body {
  color: rgb(240, 240, 240);
  background-color: #1d1d1d;
}

table thead {
  color: rgba(0, 0, 0, .6);
  background-color: #93969a;
}

table tr:nth-child(even) {
  background-color: #33363a;
}

mark,
::selection {
  background-color: #9b0000;
}

.note,
.site.name {
  color: rgb(240, 240, 240);
}

.site.slogan .title,
.note.date,
.article.date,
.footer {
  color: rgb(240, 240, 240);
}

.note.content,
.article.markdown-body {
  color: rgb(248, 248, 248);
}

code,
kbd,
tt,
samp {
  color: #fc6a5d;
}

pre {
  background-color: #000000;
}

a {
  color: #1b95e0;
}

.pagination ul li a {
  color: #1b95e0;
}

.pagination ul li a.active {
  background-color: #1b95e0;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(130, 170, 255, .5);
}

.tag {
  color: #1b95e0;
}

.category {
  color: rgba(0, 0, 0, .6);
  background-color: #93c6ea;
}

strong,
b,
.article.markdown-body h1,
.article.markdown-body h2,
.article.markdown-body h3,
.article.markdown-body h4,
.article.markdown-body h5,
.article.markdown-body h6 {
  color: rgb(240, 240, 240);
}

.note.list .item {
  background-color: #282a2c;
  box-shadow: 0 6px 12px #0e0e0e;
}

@media (max-width: 500px) {

  .note.list .item {
    box-shadow: none;
  }
}

/* border color */
pre,
.note.imgs .img,
.article.markdown-body table td,
.article.markdown-body table th,
.article.markdown-body .lntable {
  border-color: rgba(220, 252, 242, .05);
}

.site.header,
.article.markdown-body h1,
.article.markdown-body h2 {
  border-bottom-color: rgba(220, 252, 242, .05);
}

.article.markdown-body blockquote {
  border-left-color: #c9ced6;
  background-color: #292e36;
}

.article.license {
  background-color: #31373f;
  color: rgba(220, 252, 242, .6);
  border-color: rgba(220, 252, 242, .05);
}

.article.discussion {
  border-top-color: rgba(220, 252, 242, .05);
  border-bottom-color: rgba(220, 252, 242, .05);
}

.article.markdown-body .lntable tr>:first-child {
  border-right-color: rgba(220, 252, 242, .05);
}