// Custom style

// styling for all SVGs
svg {
    fill: currentColor;
    vertical-align: middle;
    display: inline-block;
    height: 1.33em;
    font-size: .75em;
}

// SVG styling for specific sections
.header-title-post svg {
    margin-bottom: 0.235em;
}

.post-category a {
    padding-right: 0.1em;
    svg {
        margin-bottom: 0.35em;
        margin-right: -0.2em;
    }
}

// theme switch svg
.theme-switch svg {
    margin-bottom: 0.2em;
    @include transform(rotate(225deg));
}

// rss svg
.rss-svg svg {
    margin-bottom: 0.2em;
}

// svgs in /categories
.card-item-title a svg {
    margin-bottom: 0.3em;
    margin-right: -0.2em;
}

.single-title svg {
    margin-bottom: 0.4em;
}

// svgs in /about
#content p a svg {
    margin-bottom: 0.3em;
}

// svgs in meta info under each individual post
.post-meta-svg {
    // color:red;
    margin-bottom: 0.4em;
    height: 1.2em;

}

// svg arrows for prev/next article on bottom of each post
.prev svg {
    margin-bottom: 0.25em;
}

.next svg {
    margin-bottom: 0.25em;
}

// menu mobile blur
.header-container {
    color:red;
}

#menu-mobile {
    backdrop-filter: blur(5px);
}