@media screen and (width <= 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    .first-entry {
        min-height: 260px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}

/* footer */
@media screen and (width <= 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media screen and (width <= 340px) {
    .share-buttons {
        justify-content: unset;
    }
}
